@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@font-face {
  font-family: "Inika";
  src: url("../fonts/Inika-Regular.ttf");
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background-color: #EDF2EC;
  height: 134px;
}

.header-container {
  max-width: 1221px;
  margin: 0px auto;
  font-family: "Inika";
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.logo img {
  width: 20px;
  height: 100%;
}

.title {
  font-size: 16px;
  color: black;
  margin-right: 689px;
}

.nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-menu__item {
  margin-right: 46px;
}
.nav-menu__item:last-child {
  margin-right: 0;
}
.nav-menu li {
  list-style-type: none;
}
.nav-menu a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.container-welcome {
  background-color: #EDF2EC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcome {
  max-width: 1221px;
  min-height: 532px;
  margin: 0px auto;
  position: relative;
  display: flex;
}

.left-wrapper {
  width: 448.8px;
  height: 407.36px;
  margin-top: 62px;
  margin-right: 224px;
}

.right-wrapper {
  width: 549px;
  height: 340px;
  margin-right: 109px;
  margin-top: 62px;
}
.right-wrapper__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin-bottom: 48px;
}

.title-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom: 42px;
}
.title-h2 span {
  color: #499A18;
}

.button__main-btn {
  width: 158px;
  height: 44px;
  background: #EDF2EC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #E06733;
  border-radius: 10px;
  font-size: 16px;
}

.container-about {
  background-color: white;
}

.about {
  max-width: 1221px;
  margin: 0px auto;
  min-height: 666px;
  display: flex;
  align-items: center;
}
.about__left-wrapper {
  width: 605px;
  height: 350px;
  margin-right: 153px;
}

.title-h3 {
  color: #499A18;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 40px;
  margin-right: 153px;
}
.title-h3 span {
  color: #E06733;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.container-service {
  background-color: #EDF2EC;
}

.service {
  max-width: 1221px;
  margin: 0px auto;
  min-height: 1300px;
}

.buttons {
  margin-top: 69px;
}

.first-container {
  display: flex;
}

.h3-title {
  color: #499A18;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: block;
  width: 306px;
  height: 94px;
  margin-top: 40px;
  margin-bottom: 90px;
  margin-right: 142px;
}

.button-btn {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Inika";
  color: #E06733;
  margin-right: 38px;
  background-color: #EDF2EC;
}
.button-btn:last-child {
  margin-right: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-card {
  margin-right: 115px;
  margin-bottom: 55px;
}
.container-card:nth-child(3n) {
  margin-right: 0px;
}

.img1 {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  background-image: url("../img/1фото.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img2 {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  background-image: url("../img/2фото.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img3 {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  background-image: url("../img/3фото.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img4 {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  background-image: url("../img/4фото.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img5 {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  background-image: url("../img/5фото.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img6 {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  background-image: url("../img/6фото.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  width: 330px;
  height: 100px;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  margin-top: 0;
}
.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin-bottom: 36px;
  text-align: center;
}

.container-prices {
  background-color: white;
}

.prices {
  max-width: 1221px;
  margin: 0px auto;
  height: 540px;
  display: flex;
}

.content-prices {
  height: 391.01px;
  width: 332px;
  margin-top: 40px;
  margin-right: 438px;
}
.content-prices h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 60px;
}

.container-accordion {
  height: 214.01px;
  width: 250px;
}

.accordion__item {
  width: 250px;
  height: 50px;
  margin-bottom: 50px;
  background: #EDF2EC;
  cursor: pointer;
  border-radius: 20px;
}
.accordion__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
  margin-left: 80px;
  align-content: center;
}
.accordion__text {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
  margin-bottom: 6px;
}
.accordion__price {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 12px;
}
.accordion__price span {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #E06733;
}
.accordion__btn {
  width: 86px;
  height: 25px;
  background: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
}

.gardener-contact {
  margin-top: 40px;
}
.gardener-contact h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  text-align: right;
}
.gardener-contact h4 span {
  color: #499A18;
}

.btn-container {
  display: flex;
  justify-content: right;
  margin-top: 38px;
}
.btn-container .contact-btn {
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Inika";
  font-weight: 700;
  color: #E06733;
  text-align: center;
  line-height: 26px;
  background-color: #fff;
}

summary .accordion__title ::marker {
  display: none;
}

.contact-leaf {
  display: flex;
  justify-content: right;
  margin-top: 39px;
}

.line {
  width: 164px;
  height: 0px;
  border: 0.5px solid #AEA1A1;
}

.container-contacts {
  background: #EDF2EC;
}

.contacts {
  max-width: 1221px;
  margin: 0px auto;
  height: 550px;
  display: flex;
}

.woman {
  margin-top: 53px;
  margin-right: 110px;
}

.contacts-text {
  margin-top: 60px;
  font-family: "Inika";
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  white-space: nowrap;
  margin-right: 64px;
}

select {
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  appearance: none;
  outline: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  padding: 5px 226px 5px 20px;
  cursor: pointer;
}

select:focus {
  outline: none;
  background: #C1E698;
  border: 1px solid #D6E7D2;
}

.select-wrapper {
  position: relative;
  height: 50px;
  width: 450px;
  margin-top: 148px;
}

.select-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 51px;
  transform: translateY(-50%);
  display: block;
  height: 16px;
  width: 16px;
  background: #AEA1A1;
  border-radius: 10px;
  pointer-events: none;
}

.select-wrapper::after {
  content: url(../icon/arrow.svg);
  position: absolute;
  top: 22.5%;
  right: 58px;
  display: block;
  width: 4px;
  height: 2.35px;
  pointer-events: none;
}

.footer-container {
  background-color: #FFFFFF;
}

.footer {
  max-width: 1221px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  height: 130px;
}

a {
  text-decoration: none;
  color: black;
}

.github {
  margin-right: 324px;
  display: flex;
}
.github p {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  margin-right: 20px;
}
.github p:last-child {
  margin-right: 0;
}
.github p a {
  text-decoration: none;
  color: black;
}

.icon a {
  margin-right: 20px;
}
.icon a:last-child {
  margin-right: 0;
}

.school {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  margin-right: 317px;
}
.school a {
  text-decoration: none;
  color: black;
}

@media (max-width: 381px) {
  .container-body {
    min-width: 768px;
  }
  .header {
    height: 117px;
  }
  .header__logo img {
    margin-left: 51px;
  }
  .container-welcome {
    display: flex;
    flex-direction: row-reverse;
    min-height: 420px;
  }
  .title-h2 {
    font-size: 35px;
  }
  .right-wrapper__text {
    font-size: 16px;
  }
  .leaf-wrapper {
    width: 280px;
    height: 254.15px;
  }
  .container-about {
    min-height: 783px;
    display: flex;
    flex-direction: column;
  }
  .container-about__left-wrapper {
    margin-bottom: 40px;
  }
  .title-h3 {
    margin-right: 173px;
  }
}

/*# sourceMappingURL=style.css.map */
